<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>

<body>
	<div class="container">
		<div class="starter-template">
			<table class="table table-hover">
				<tr>
					<th>编号</th>
					<th>姓名</th>
					<th>性别</th>
					<th>年龄</th>
					<th>分数</th>
				</tr>
				<tr th:each="student : ${students}">
					<td th:text="${student.id}">Onions</td>
					<td th:text="${student.name}">2.41</td>
					<td th:text="${student.sex}">2.41</td>
					<td th:text="${student.age}">2.41</td>
					<td th:text="${student.score}">2.41</td>
					<!-- <td>
						<div th:each="verbs : ${role.rules.verbs}" class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn btn-default" th:text="${verbs.current}">Left</button>	
						</div>
					</td> -->
				</tr>
			</table>
		</div>
	</div>

	<div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>

